body, html { /*CSS-правила, применяемые к содержимому секций <body> и <html>*/
    height: 100%; /*Высота на 100% рабочей зоны (окна браузера)*/
    margin: 0; /*Устанавливает отступы в 0px*/
    padding: 0; /*Устанавливает внутренние отступы в 0px*/
}

.external-search-container { /*Внешний контейнер*/
    position: absolute; /*position - устанавливает способ позиционирования элемента относительно окна браузера или других объектов. absolute - абсолютное позиционирование*/
    top: 10%; /* Отступ от верха - 10%*/
    right: 0; /*Отступ от низа - 0*/
    /*bottom: 0; Отступ справа - 0*/
    width: 25%; /*Ширина контейнера - 25% ширины рабочей зоны*/
    height: 700px;
    background-color: #f0fff0; /* нежно-зеленый цвет заднего фона*/
    border-top: 10px solid #65E17B; /* темно-зеленая обводка сверху */
    border-left: 10px solid #65E17B; /* темно-зеленая обводка слева */
    border-bottom: 10px solid #65E17B; /* темно-зеленая обводка снизу */
    box-sizing: border-box; /*Позволяет задавать ширину и высоту элемента велючая отступы и границы, без изменения размера блока*/
}

.inner-container { /*Внутренний контейнер (все внутренние контейнеры)*/
    /*padding: 5px;*/
    background-color: #ccffcc; /* нежно-зеленый цвет */
    border: 1px solid; /*граница в 1px*/
}

.top-inner-container { /*Верхний внутренний контейнер*/
    height: 35px; /*Высота - 5% внешнего контейнера*/
    display: flex; /*превращает контейнер в гибкую область*/
    align-items: center; /*центрирование по вертикали*/
    justify-content: center; /*центрирование по горизонтали*/
    /*padding: 5px 0; Устанавливаем внутренни отступы содержимого контейнера в 5px сверху и снизу, в 0px справа и слева*/
}

.middle-inner-container { /*Средний внутренний контейнер*/
    height: 455px; /*Высота - 55% внешнего контейнера*/
    padding: 5px 0; /*Устанавливаем внутренни отступы содержимого контейнера в 5px сверху и снизу, в 0px справа и слева*/
}

.bottom-inner-container { /*Нижний внутренний контейнер*/
    /*height: 210px; Высота - 30% внешнего контейнера*/
}

#searchInputField { /*Стили для объекта с id='searchInputField' (Поле ввода в блоке поиска)*/
    /*padding: 5px; Отступ между границей элемента и внутренним содержимым 5px со всех сторон*/
    margin-right: -5px; /*Правый внешний отступ секции - 5px*/
    border: none; /*Удаляет границу (обводку) поля ввода*/
    background-color: #006400; /* Темно-зеленый цвет заднего фона */
    color: white; /*Цвет текста секции - белый*/
    font-weight: bold; /*Устанавливаем текст содержимого полужирным*/
    height: 30px; /*Устанавливаем высоту объекта в 100% разрешенной высоты контейнера, где объект находится*/
    border-radius: 10px 0 0 10px; /*Скругление верхнего левого и нижнего левого углов поля ввода*/
    overflow: hidden;
    font-size: 12px; /*Размер внутреннего шрифта*/
    vertical-align: center;
    width: 70%;
}

#searchSubmitButton { /*Стили для объекта с id='searchSubmitButton' (Кнопка справа от поля ввода блока поиска)*/
    /*padding: 5px 10px; Отступ между границей элемента и внутренним содержимым: 5px сверху и снизу, 10px слева и справа*/
    border: none; /*Удаляет границу (обводку) поля ввода*/
    background-color: #006400; /* темно-зеленый цвет */
    color: white; /*Цвет текста секции - белый*/
    cursor: pointer; /*Устанавливает курсор в виде указателя (палец) при наведении на кнопку*/
    border-radius: 0 10px 10px 0; /*Скругление верхнего правого и нижнего правого углов кнопки*/
    height: 30px; /*Высота кнопки - в высоту блока где находится кнопка*/
    overflow: hidden;
    vertical-align: top;
    font-weight: bold; /*Устанавливаем текст содержимого полужирным*/
    font-size: 12px; /*Размер внутреннего шрифта*/
    border: 1px solid;
}

#searchSubmitButton:hover { /*Стили для объекта с if='searchSubmitButton' (Кнопка справа от блока поиска) при наведении*/
    color: black; /*Меняем цвет текста при наведении*/
    background-color: red; /*Меняем цвет кнопки при наведении*/
    border: 1px solid;
    vertical-align: center;
}