body, html { /*CSS-правила, применяемые к содержимому секций <body> и <html>*/
    height: 100%; /*Высота на 100% рабочей зоны (окна браузера)*/
    margin: 0; /*Устанавливает отступы в 0px*/
    padding: 0; /*Устанавливает внутренние отступы в 0px*/
}

.external-search-container { /*Внешний контейнер*/
    position: absolute; /*position - устанавливает способ позиционирования элемента относительно окна браузера или других объектов. absolute - абсолютное позиционирование*/
    top: 10%; /* Отступ от верха - 10%*/
    right: 0; /*Отступ от низа - 0*/
    bottom: 0; /*Отступ справа - 0*/
    width: 25%; /*Ширина контейнера - 25% ширины рабочей зоны*/
    background-color: #ccffcc; /* нежно-зеленый цвет */
    border-top: 2px solid #006400; /* темно-зеленая обводка сверху */
    border-left: 2px solid #006400; /* темно-зеленая обводка слева */
    box-sizing: border-box;
}

.inner-container { /*Внутренний контейнер (все внутренние контейнеры)*/
    background-color: #ccffcc; /* нежно-зеленый цвет */
}

.top-inner-container { /*Верхний внутренний контейнер*/
    height: 15%; /*Высота - 15% внешнего контейнера*/
}

.middle-inner-container { /*Средний внутренний контейнер*/
    height: 55%; /*Высота - 55% внешнего контейнера*/
}

.bottom-inner-container { /*Нижний внутренний контейнер*/
    height: 30%; /*Высота - 30% внешнего контейнера*/
}

#searchInputField { /*Стили для объекта с id='searchInputField' (Поле ввода в блоке поиска)*/
    padding: 5px; /*Отступ между границей элемента и внутренним содержимым 5px со всех сторон*/
    margin-right: 5px; /*Правый внешний отступ секции - 5px*/
    border: none; /*Удаляет границу (обводку) поля ввода*/
    background-color: #006400; /* Темно-зеленый цвет заднего фона */
    color: white; /*Цвет текста секции - белый*/
}

#searchSubmitButton { /*Стили для объекта с id='searchSubmitButton' (Кнопка справа от поля ввода блока поиска)*/
    padding: 5px 10px; /*Отступ между границей элемента и внутренним содержимым: 5px сверху и снизу, 10px слева и справа*/
    border: none; /*Удаляет границу (обводку) поля ввода*/
    background-color: #006400; /* темно-зеленый цвет */
    color: white; /*Цвет текста секции - белый*/
    cursor: pointer; /*Устанавливает курсор в виде указателя (палец) при наведении на кнопку*/
}
