.external-search-container { /*Внешний контейнер*/
    position: fixed; /*position - устанавливает способ позиционирования элемента относительно окна браузера или других объектов*/
    top: 10%; /* Отступ от верха - 10%*/
    right: 0; /*Отступ от низа - 0*/
    /*bottom: 0; Отступ справа - 0*/
    width: 35%; /*Ширина контейнера - 25% ширины рабочей зоны*/
    height: 748px;
    background-color: #f0fff0; /* нежно-зеленый цвет заднего фона*/
    border-top: 10px solid #65E17B; /* темно-зеленая обводка сверху */
    border-left: 10px solid #65E17B; /* темно-зеленая обводка слева */
    border-bottom: 10px solid #65E17B; /* темно-зеленая обводка снизу */
    box-sizing: border-box; /*Позволяет задавать ширину и высоту элемента велючая отступы и границы, без изменения размера блока*/
}

.inner-container { /*Внутренний контейнер (все внутренние контейнеры)*/
    /*padding: 5px;*/
    background-color: #ccffcc; /* нежно-зеленый цвет */
    /*border: 1px solid; граница в 1px*/
}

.top-inner-container { /*Верхний внутренний контейнер*/
    height: 35px; /*Высота - 5% внешнего контейнера*/
    display: flex; /*превращает контейнер в гибкую область*/
    align-items: center; /*центрирование по вертикали*/
    justify-content: center; /*центрирование по горизонтали*/
    /*padding: 5px 0; Устанавливаем внутренни отступы содержимого контейнера в 5px сверху и снизу, в 0px справа и слева*/
}

.middle-inner-container { /*Средний внутренний контейнер*/
    height: 435px; /*Высота - 55% внешнего контейнера*/
    padding: 5px 0; /*Устанавливаем внутренни отступы содержимого контейнера в 5px сверху и снизу, в 0px справа и слева*/
}

.bottom-inner-container { /*Нижний внутренний контейнер*/
    height: 249px; /*Высота - 30% внешнего контейнера*/
    display: flex;
    justify-content: flex-start; /* Выравниваем элементы по левому краю */
}

.left-part-bottom-inner-container, .right-part-bottom-inner-container { /*поля для картинки в блоке поиска и описания картинки*/
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.left-part-bottom-inner-container {
    width: 249px;
    background-size: contain; /*Растягивает или сжимает изображение по высоте и ширине блока*/
    background-repeat: no-repeat; /*Предотвращает повторение изображения внутри блока*/
    background-position: center;
    background-image: url('../baseBackground/moskovskij_zoopark.png');
    background-color: red;
}

.right-part-bottom-inner-container {
    flex: 1;
    background-color: blue;
}

#searchInputField, #searchSubmitButton {
    height: 30px; /*высота объекта - 30px*/
    vertical-align: middle; /**/
    font-size: 12px; /*Размер внутреннего шрифта*/
    font-weight: bold; /*Устанавливаем текст содержимого полужирным*/
    color: white; /*Цвет текста секции - белый*/
    background-color: #006400; /* темно-зеленый цвет */
    border: none;
    font-family: TimesNewRoman, sans-serif; /*шрифт*/
}

#searchInputField { /*Стили для объекта с id='searchInputField' (Поле ввода в блоке поиска)*/
    /*padding: 5px; Отступ между границей элемента и внутренним содержимым 5px со всех сторон*/
    /*margin-right: -5px; Правый внешний отступ секции - 5px*/
    border-radius: 10px 0 0 10px; /*Скругление верхнего левого и нижнего левого углов поля ввода*/
    width: 75%;
    border-right: 1px solid black;
}

#searchInputField:focus {
    outline: none;
}

#searchSubmitButton { /*Стили для объекта с id='searchSubmitButton' (Кнопка справа от поля ввода блока поиска)*/
    /*padding: 5px 10px; Отступ между границей элемента и внутренним содержимым: 5px сверху и снизу, 10px слева и справа*/
    cursor: pointer; /*Устанавливает курсор в виде указателя (палец) при наведении на кнопку*/
    border-radius: 0 10px 10px 0; /*Скругление верхнего правого и нижнего правого углов кнопки*/
    /*border-left: 5px solid black;*/
    height: 32px;
    width: 23%;
    border-left: 1px solid black;
}

#searchSubmitButton:hover { /*Стили для объекта с if='searchSubmitButton' (Кнопка справа от блока поиска) при наведении*/
    color: black; /*Меняем цвет текста при наведении*/
    background-color: red; /*Меняем цвет кнопки при наведении*/
    border: 1px solid;
    vertical-align: center;
}

.animal-select { /*Стили для списка животных*/
    border: none; /*нет границ*/
    font-family: TimesNewRoman, sans-serif; /*шрифт*/
    font-size: 14px; /*размер шрифта*/
    scrollbar-color: darkgreen lightgreen; /* для Firefox */
    scrollbar-width: thin; /* для Firefox */
    /*top: calc(10%); отступ сверху*/
    width: calc(100%); /*ширина элемента - макс*/
    height: calc(100%); /*мысота элемента - макс*/
    background-color: gray;
}

.animal-select::-webkit-scrollbar { /*Стилизация полосы прокрутки внутри элемента animal-select*/
    width: 12px; /* для Chrome, Safari и Opera */
}

.animal-select::-webkit-scrollbar-thumb { /*Стилизация ползунка полосы прокрутки элемента animal-select*/
    background-color: darkgreen; /* для Chrome, Safari и Opera */
}

.animal-select:focus { /*действия при нажатии на список*/
    outline: 0; /*Убираем контр при фокусе на элементе*/
}

#search-option {
    display: flex; /*преобразует option в контейнер модели flexbox*/
    flex-direction: column; /*Устанавливает направление главной оси контейнера по вертикали. То есть элементы внутри контейнера будут располагаться вертикально, один под другим*/
    white-space: normal; /* Разрешаем перенос текста на новую строку, если он не помещается*/
    border-bottom: 1px solid black; /* Граница снизу */
}

#search-option::before { /*добавляет в option содержимое до того, как содержимое додобавится в html*/
    content: attr(data-animal-base-information); /* Добавляем содержимое второй строки */
    font-size: 13px;
}

#search-option:nth-child(odd) { /*События для нечетных записей списка*/
    background-color: #f0fff0; /*цвет заднего фона*/
}

#search-option:nth-child(even) { /*События для нечетных записей списка*/
    background-color: #c7fcec; /*цвет заднего фона*/
}

