#top-panel {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #f0fff0;
    border-bottom: 10px solid #65E17B;
    z-index: 9998; /*позиционируем этот блок поверх всех возможных остальных*/
    display: flex;       /* Располагаем элементы в строку */
    flex-wrap: nowrap;   /* Останавливаем перенос элементов на следующую строку */
    overflow-x: auto; /* Добавляем горизонтальную прокрутку если число изображений ушло за границы экрана*/
}

#top-panel img {
    display: inline-block;
}