#top-panel {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #f0fff0;
    border-bottom: 10px solid #65E17B;
    z-index: 9998; /*позиционируем этот блок поверх всех возможных остальных*/
    display: flex;       /* Располагаем элементы в строку */
    flex-wrap: nowrap;   /* Останавливаем перенос элементов на следующую строку */
    overflow-x: auto; /* Добавляем горизонтальную прокрутку если число изображений ушло за границы экрана*/
}

#top-panel img {
    display: inline-block;
}

/*Стили для крестика - удаления картинки из маршрутного листа*/
.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный фон */
    padding: 5px;
    border-radius: 50%;
    z-index: 1; /* Чтобы крестик был поверх изображения */
}

.close-button:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Изменяем цвет фона при наведении */
}

/*Контейнер, объединяющий изображение маршрутного листа и крестик*/
.container-image-plus-cross-on-top-panel {
    position: relative; /* Добавляем position: relative; */
    display: inline-block;
}