<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список видов животных</title>
    <link rel="stylesheet" href="css/searchStyles.css">
</head>
<body>

<div class="searchContainer">
    <div class="inputFieldContainer">
        <input type="text" class="inputField" id="inputField" oninput="filterAnimals()" placeholder="Введите что-то...">
    </div>
    <div>
        <select id="animalSelect" class="animalSelect" size="18" onchange="handleSelection()" onmouseover="showPhoto()">
            <option th:each="animal : ${animals}" th:value="${animal.getAnimalSpecies()}" th:text="${animal.getAnimalSpecies()}"th:data-photo="${animal.getPhotoLink()}"></option>
        </select>
    </div>
</div>

<script src="javaScript/scripts.js"></script>

</body>
</html>