<!DOCTYPE html> <!--Объявление типа HTML5 документа. DOCTYPE - какую именно версию html использую-->
<html lang="en"> <!--Открывающий html тег, указывает что язык документа english-->
<head> <!--Открывающий тег. Открывает заголовок документа, где обычно находятся мета-ссылки, ссылки на стили и скрипты, другие метаданные-->
  <meta charset="UTF-8"> <!--Мета-тег указывает на кодировку символов документа-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Мета-тег задает параметры отображения страницы. Viewport - это видимая пользователю область страницы сайта без прокруток. 'width=device-width' - ширина на всю рабочую область устройства. 'initial-scale=1.0' - указывает браузеру соотношение пикселей CSS и устройства независимо от ориентации дисплея, в соотношении 1 к 1 ([0.1 - 10] 1.0 означает не масштабировать)-->
  <title>MoscowZooMapSite</title> <!--Заголовок документа, который отображается во вкладке браузера-->
  <style>
    body, html { /*CSS-правила, применяемые к содержимому секций <body> и <html>*/
      height: 100%; /*Высота на 100% рабочей зоны (окна браузера)*/
      margin: 0; /*Устанавливает отступы в 0px*/
      padding: 0; /*Устанавливает внутренние отступы в 0px*/
    }
    body::-webkit-scrollbar { /*убираем горизонтальную и вертикальную полосы прокрутки браузера*/
      width: 0;
      height: 0;
    }
  </style>
  <link rel="stylesheet" href="css/search_block_styles.css"> <!--Тег для подключения внешнего CSS файла (rel="stylesheet". relationship - сообщает как указанный элемент связан с содержащим его документом). href= - подключаем стили по адресу (стили блока поиска)-->
  <link rel="stylesheet" href="css/map_styles.css"><!--Тег для подключения внешнего CSS файла (rel="stylesheet". relationship - сообщает как указанный элемент связан с содержащим его документом). href= - подключаем стили по адресу (стили карты)-->
  <link rel="stylesheet" href="css/top_panel_styles.css">
</head> <!--Тег, закрывающий заголовок-->
<body> <!--Тек, открывающий тело документа, где располагается основное содержание страницы-->

<!--Добавляем самые простые кнопки для зума-->
<button style="position: fixed; top: 15%; left: 0; width: 50px; height: 25px" id="zoom-in">+</button>
<button style="position: fixed; top: 20%; left: 0; width: 50px; height: 25px" id="zoom-out">-</button>

<div id="top-panel"></div>

<div class="external-search-container"> <!--Тег создает контейнер с классом "external-serach-container" из css файла-->
  <div class="inner-container top-inner-container"> <!--Тег создает внутренний контейнер с классами inner-container и top-inner-container из css файла-->
    <input type="text" id="searchInputField" placeholder="Введите..." oninput="filterList()"> <!--Тег создает текстовое (type="text") поле ввода с id="searchInputField" (считай что программное имя для этого объекта). placeholder - текст, отображающийся в поле до того, как пользователь что-то ввел-->
    <button id="listSelectionButton" onclick="changingDisplayedList()">К структурам</button> <!--Тег создает кнопку с id="searchSubmitButton" и текстом на кнопке "Ввод"-->
  </div> <!--Закрывающий тег верхнего внутреннего контейнера-->
  <div class="inner-container middle-inner-container">
    <select id="animal-select" class="animal-or-structure-select" onclick="selectPhotoAndData()" size="10" >
      <option th:each="animalInfo : ${animalsInfo}" th:value="${animalInfo.getId()}" th:text="${animalInfo.getAnimalsEntity().getAnimalSpecies()}" th:data-animal-base-information="${animalInfo.getAnimalBaseInformation()}" th:animal-class="${animalInfo.getAnimalsEntity().getAnimalClass()}" th:data-photo="${animalInfo.getPhotoLink()}" th:brief-description="${animalInfo.getBriefInfo()}" th:full-description="${animalInfo.getFullInfo()}" id="animal-search-option"></option>
      <!--<option th:each="animal : ${animals}" th:value="${animal.getAnimalBaseInformation()}" th:text="${animal.getAnimalBaseInformation()}"th:data-photo="${animal.getPhotoLink()}"></option>-->
    </select>
    <select style="display: none;" id="structure-select" class="animal-or-structure-select" onclick="selectPhotoAndData()" size="10" >
      <option th:each="structureInfo : ${structuresInfo}" th:value="${structureInfo.getStructureName()}" th:text="${structureInfo.getStructureName()}" th:data-photo="${structureInfo.getPhotoLink()}" th:brief-description="${structureInfo.getBriefInfo()}" th:full-description="${structureInfo.getFullInfo()}" id="structure-search-option"></option> <!--th:data-photo="${animal.getPhotoLink()}" th:animals-brief-description="${animal.getBriefInfo()}" -->
      <!--<option th:each="animal : ${animals}" th:value="${animal.getAnimalBaseInformation()}" th:text="${animal.getAnimalBaseInformation()}"th:data-photo="${animal.getPhotoLink()}"></option>-->
    </select>
  </div> <!--Тег создает внутренний контейнер с классами inner-container и middle-inner-container из css файла-->
  <div class="inner-container bottom-inner-container">
    <div class="left-part-bottom-inner-container" id="photo-block"></div>
    <div class="right-part-bottom-inner-container">
      <p id="brief-information-block">Моско́вский зоопарк — зоологический парк в центре Москвы.<br><b>Один из старейших зоопарков (1864) в Европе</b> и пятый по площади зоопарк России. Входит в десятку самых посещаемых зоопарков мира (до 3,8 млн человек в год).<br>В коллекции зоопарка <b>1267 видов</b> животных, <b>10531 особей</b>.</p>
    </div>
  </div> <!--Тег создает внутренний контейнер с классами inner-container и bottom-inner-container из css файла-->
</div> <!--Закрывающий тег внешнего контейнера с классом "external-search-container"-->

<!--Модальное окно-->
<div id="modal-window" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <img id="modal-image">
    <p id="modal-text"></p>
  </div>
</div>

<div id="map-container"></div>

<!--Скрытый блок для передачи матриц расположения и входов животных и структур в js файл-->
<div id="hidden-block-for-data-transmission" style="display: none;" th:attr="location-of-animals=${jsonLocationOfAnimals}, location-of-structures=${jsonLocationOfStructures}, data-entrances=${jsonEntrances}"></div>


<script src="javaScript/search_block_scripts.js"></script> <!--Тег, подключающий внешний JavaScript файл по адресу src (В JS файлах прописана динамика страницы)-->
<script src="javaScript/map_scripts.js"></script>
</body><!--Тег, закрывающий секцию тела документа-->
</html> <!--Тег, закрывающий html-документ-->
